/*-------------------------------------
				 general 
-------------------------------------*/

body {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	background-color: #1D1E28;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	border-top: 6px #237841 solid ;
	font-size: .9rem;
	position: relative ;
}
.title{
	font-size: 4rem;
	padding-bottom: 2rem;
}
.link{
	color: white;
}


/*-------------------------------------
				 Navbar 
-------------------------------------*/
.nav-link {
	color: white !important;
	font-family: Lato, sans-serif !important;
	text-transform: capitalize !important;
}
.nav-link.active {
	color: #237841 !important;
	background-color: transparent !important ;
}
.navbar-collapse{
	transition: all .4s;
}
.navbar-toggler:focus{
	box-shadow: none;
}

/*-------------------------------------
				 about 
-------------------------------------*/
.about{
	padding-top: 10rem !important;
	padding-bottom: 6rem;
	color: #fff !important;
}
.about .title {
	font-size: 10vw;
}


/*-------------------------------------
				 team 
-------------------------------------*/
.team{
	padding-top: 1rem !important;
	padding-bottom: 10rem;
	background-image: url("/assets/wavy-green.svg") !important;
	background-position: bottom !important;
	background-size: 300% !important;
	background-repeat: no-repeat !important;
}

.team .card {
	width: 10vw !important;
	min-width: 150px;
	background-color: transparent;
	color: white;
	border: transparent;
	box-shadow: none;
}
.team .card-body{
	padding-top: 0px;
}
.team .card-text{
	hyphens: auto;
}
.team hr{
	margin: 0rem;
	padding-bottom: 0.4rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

/*-------------------------------------
			competition	 
-------------------------------------*/

.competition{
	padding-top: 2rem !important;
	padding-bottom: 5rem;
	background: #237841 !important;
	background-image: url("/assets/wavy-dark.svg") !important;
	background-position: bottom !important;
	background-size: 200% !important;
	background-repeat: no-repeat !important;
}
.competition .card{
	width: 19rem;
	padding: 0;
	background-color: #1D1E28 !important;
	margin: .6rem;
	border-radius: 20px !important;
	box-shadow:none !important;
	border-color: #237841;
	border-width: 0.3rem;
}
.competition .card-body{
	padding: 1.5rem;
}
.competition .card-title{
	color: #237841;
	font-size: 28px !important;
	font-weight: 600 !important;
	text-align: left !important;
}
.competition .card-title {
	margin: 0 0 -3px !important;
}
.competition .card-text{
	hyphens: auto;
	text-align: left !important;
	color: rgba(220, 220, 220, 0.80);
}


/*-------------------------------------
				news	 
-------------------------------------*/

.news{
	padding-top: 8rem !important;
	padding-bottom: 10rem;
}