/*-------------------------------------
				 general 
-------------------------------------*/

body {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	background-color: #1D1E28;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	border-top: 6px #237841 solid ;
	font-size: .9rem;
	position: relative ;
}
.title{
	font-size: 4rem;
	padding-bottom: 2rem;
}
.link{
	color: white;
}


/*-------------------------------------
				 Navbar 
-------------------------------------*/
.nav-link {
	color: white !important;
	font-family: Lato, sans-serif !important;
	text-transform: capitalize !important;
}
.nav-link.active {
	color: #237841 !important;
	background-color: transparent !important ;
}
.navbar-collapse{
	transition: all .4s;
}
.navbar-toggler:focus{
	box-shadow: none;
}
/*-------------------------------------
				 about 
-------------------------------------*/
.about{
	padding-top: 10rem !important;
	color: #fff !important;
}
.about .title {
	font-size: 10vw;
	font-weight:bold;
}


/*-------------------------------------
				 team 
-------------------------------------*/
.team{
	padding-top: 8rem !important;
}
.team .card {
	background-color: transparent;
	color: white;
	border: transparent;
	box-shadow: none;
}
.team .card-body{
	padding-top: 0px;
	width: 9rem;
}
.team .card-title{
	font-size: 25px;
}
.team .card-text{
	hyphens: auto;
}
.team hr{
	margin: 0rem;
	padding-bottom: 0.4rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

/*-------------------------------------
				 stats 
-------------------------------------*/
.statistics{
	padding-top: 5rem !important;
	padding-bottom: 14rem;
	background-image: url("/assets/wavy-green.svg") !important;
	background-position: bottom !important;
	background-size: 300% !important;
	background-repeat: no-repeat !important;
}
.statistics .card{
	background: transparent !important;
	box-shadow: none !important;
	color: #ffffff !important;
	border-color: transparent;
}
.statistics .card-body{
	height: 280 !important;
	width: 16rem !important;
	max-height: 280 !important;
	max-width: 332 !important;
}
.statistics .card-title{
	color: #237841 !important;
	font-size: 50px !important;
	line-height: 15px !important;
	letter-spacing: -0.06em !important;
	font-weight: bold !important;
}
.statistics .card-text{
	font-weight: bold !important;
	font-size: 20px !important;
}
/*-------------------------------------
			competition	 
-------------------------------------*/

.competition{
	padding-top: 2rem !important;
	padding-bottom: 5rem;
	background: #237841 !important;
	background-image: url("/assets/wavy-dark.svg") !important;
	background-position: bottom !important;
	background-size: 200% !important;
	background-repeat: no-repeat !important;
}
.competition .subtitle{
	color: rgba(220, 220, 220, 0.87);
}
.competition .subtitle .link{
	color: rgba(220, 220, 220, 0.87);
}
.competition .card{
	width: 19rem;
	padding: 0;
	background-color: #1D1E28 !important;
	margin: .6rem;
	border-radius: 20px !important;
	box-shadow:none !important;
	border-color: #237841;
	border-width: 0.3rem;
}
.competition .card-body{
	padding: 1.5rem;
}
.competition .card-title{
	color: #237841;
	font-size: 28px !important;
	font-weight: 600 !important;
	text-align: left !important;
	margin: 0 0 -3px !important;
}
.competition .card-text{
	hyphens: auto;
	text-align: left !important;
	color: rgba(220, 220, 220, 0.80);
}


/*-------------------------------------
				news	 
-------------------------------------*/

.news{
	padding-top: 8rem !important;
}
.news .subtitle{
	text-align: left;
	font-size: 28px;
}
.news .text{
	text-align: left;
	min-width: 40vw;
	margin-right: 2rem;
}
/*-------------------------------------
				archiv	 
-------------------------------------*/
.archiv{
	padding-top: 8rem !important;
}
.archiv h3{
	font-size: 40px !important;
}
.archiv .tab-content{
	padding-top: 2rem;
}
.archiv .text{
	text-align: left;
	min-width: 40vw;
}
.archiv .logo{
	height: 40px;
}