/*-------------------------------------
				 general 
-------------------------------------*/

/*
text: 18px
subtitle: 28px		h4
dazwischen: 50px 	h3
title: 80px			h2
*/

body {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	background-color: #1D1E28;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	border-top: 6px #237841 solid ;
	font-size: 1rem;
	position: relative ;
}
footer {
	font-family: 'Poppins', sans-serif;
	text-align: left;
	background-color: #1a1a24;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	border-top: 6px #237841 solid ;
	font-size: 1rem;
	position: relative ;
	margin-top: 3rem;
}


.video{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
}
.video iframe{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

.message {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1a1a24;
    text-align: center;
    padding: 10px 0;
}

/*----------- font-sizes ----------*/
.text{
	font-size: 1rem;
	color: rgba(220, 220, 220, 0.87);
}
.title{
	font-size: 5rem;
	padding-bottom: 2rem;
}
.subtitle{
	font-size: 1.5rem;
}
h2{
	font-size: 5rem;
}
h3{
	font-size: 2.5rem;
}
h4{
	font-size: 1.5rem;
}

@media (max-width:991px){
	.title{
		font-size: 3rem;
	}
}

/*---------- font-colors -----------*/
.white{
	color: white !important;
}
.green{
	color: #237841 !important;
}
.grey{
	color: rgba(220, 220, 220, 0.87) !important;
}


/*-------------------------------------
			backgrounds	 	
-------------------------------------*/
.spacer{
	aspect-ratio: 960/200;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}
.green-top{
	background-image: url('/assets/backgrounds/wave-green-top.svg') !important;
}
.green-bottom{
	background-image: url('/assets/backgrounds/wave-green-bottom.svg') !important;
}


/*-------------------------------------
				 Navbar 
-------------------------------------*/
.navbar {
    transition: top .4s;
}
.navbar-brand{
	font-family: 'Chakra Petch', sans-serif;
}
.nav-link {
	color: white !important;
	font-family: Lato, sans-serif !important;
	text-transform: capitalize !important;
}
.nav-link.active {
	color: #237841 !important;
	background-color: transparent !important ;
}
.navbar-collapse{
	transition: all .4s;
}
.navbar-toggler:focus{
	box-shadow: none;
}
@media (max-width:991px){
	.nav .nav-link{
		text-align: left !important;
	}
}
/*-------------------------------------
				 about 
-------------------------------------*/
.about{
	padding-top: 10rem !important;
	padding-bottom: 3rem;
	color: #fff !important;
}
.about .title {
	font-family: 'Chakra Petch', sans-serif;
	font-size: 10vw;
	font-weight:bold;
}
.about .text{
	padding: 0 7rem;
}
@media (max-width:500px){
	.about .title{
		font-size: 13vw;
	}
	.about .text{
		padding: 0 0;
	}
}
@media (min-width: 2000px){
	.about .title{
		font-size: 200px !important;
	}
}

/*-------------------------------------
				 team 
-------------------------------------*/
.team{
	padding-top: 8rem !important;
}
.team .card-deck{
	gap: 10px;
}
.team .card {
	background-color: transparent;
	color: white;
	border: transparent;
	box-shadow: none;
	width: 9.3rem;
}
.team .card-body{
	padding: 0;
}
.team .card-title{
	margin-bottom: 0px;
}
.team .card-text{
	hyphens: auto;
	margin-bottom: 10px;
	color: rgba(220, 220, 220, 0.87);
}
.team hr{
	margin-top: 1px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 5px;
}

/*-------------------------------------
				 stats 
-------------------------------------*/
.statistics{
	padding-top: 5rem !important;
}
.statistics .card-deck{
	gap: 30px;
}
.statistics .card{
	background: transparent !important;
	box-shadow: none !important;
	color: #ffffff !important;
	border-color: transparent;
	width: 10.5rem;
}

.statistics .card-title{
	color: #237841 !important;
	line-height: 15px !important;
	letter-spacing: -0.06em !important;
	font-weight: bold !important;
}
.statistics .card-text{
	font-weight: bold !important;
}

/*-------------------------------------
			competition	 
-------------------------------------*/
.competition{
	background: #237841 !important;
	background-position:bottom !important;
	background-repeat: no-repeat !important;
}
.competition .text{
	padding: 0 7rem;
}
@media (max-width:500px){
	.competition .text{
		padding: 0 0 !important;
	}
}

.competition .card-deck{
	gap: .7rem;
}
.competition .card{
	width: 19rem;
	padding: 0;
	background-color: #1D1E28 !important;
	border-radius: 20px !important;
	box-shadow:none !important;
	border-color: #237841;
	border-width: 0.3rem;
}
.competition .card-title{
	color: #237841;
	font-weight: 600 !important;
	text-align: left !important;
	margin: 0 0 -3px !important;
}
.competition .card-text{
	hyphens: auto;
	text-align: left !important;
}


/*-------------------------------------
				news	 
-------------------------------------*/

.news .subtitle{
	text-align: left;
}
.news .text{
	text-align: left;
	width: 30rem;
	margin-right: 2rem;
	hyphens: auto;
}
@media (max-width:1199px){
	.news .text{
		width: auto;
	}
}
/*-------------------------------------
				archiv	 
-------------------------------------*/
.archiv{
	padding-top: 8rem !important;
}

.archiv .tab-content{
	padding-top: 2rem;
}
.archiv .logo{
	height: 40px;
}
.archiv .subtitle{
	padding-top: 6rem;
	text-align: left;
}
.archiv .content{
	padding-top: 3rem;
}
.archiv .white{
	color: white;
	margin: 0;
}
.archiv .text{
	text-align: left;
	min-width: 40vw;
	width: 40vw;
	margin-right: 2rem;
	hyphens: auto;
}
.archiv .right{
	text-align: left;
	min-width: 40vw;
	width: 40vw;
	margin-left: 2rem;
	hyphens: auto;
}
@media (max-width:1199px){
	.archiv .text{
		width: auto;
	}
	.archiv .right{
		width: auto;
		margin-left: auto;
		margin-right: 2rem;
		order: -1;
	}
}


/*-------------------------------------
				 impressum 
-------------------------------------*/
.impressum{
	padding-top: 1rem;
	padding-bottom: 3rem;
	color: #fff !important;
	text-align: left;
}
.impressum .subtitle{
	padding-top: 3rem;
}


/*-------------------------------------
				 footer 
-------------------------------------*/
.footer{
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.footer.text{
	padding: 0 0 0;
}