body {
	font-family: 'Poppins', sans-serif;
	background-color: #1D1E28;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	border-top: 6px #237841 solid ;
	font-size: .9rem;
	position: relative ;
}



/*-------------------------------------
				 Navbar 
-------------------------------------*/
.nav-link {
	color: white !important;
	font-family: Lato, sans-serif !important;
	text-transform: capitalize !important;
}
.nav-link.active {
	color: #237841 !important;
	background-color: transparent !important ;
}
.navbar-collapse{
	transition: all .4s;
}
.navbar-toggler:focus{
	box-shadow: none;
}
.navbar-nav .link {
	color: white;
}

/*-------------------------------------
				 about 
-------------------------------------*/
.about{
	text-align: center !important;
	padding-top: 10rem !important;
	padding-bottom: 11rem;
	color: #fff !important;
	background-image: url("/assets/images/wavy-green.svg") !important;
	background-position: bottom !important;
	background-size: 300% !important;
	background-repeat: no-repeat !important;
}
.about .title {
	font-size: 10vw;
}
.about .link {
	color: white;
}


/*-------------------------------------
				 team 
-------------------------------------*/
.team{
	padding-top: 1rem !important;
	padding-bottom: 10rem;
	background: #237841 !important;
	background-image: url("/assets/images/wavy-dark.svg") !important;
	background-position: bottom !important;
	background-size: 200% !important;
	background-repeat: no-repeat !important;
}
.team .title {
	font-size: 4rem !important;
	text-align: center !important;
	padding-bottom: 2rem;
}
.team .card {
	width: 12.6vw !important;
	min-width: 150px;
	background-color: transparent;
	color: white;
	border: transparent;
	box-shadow: none;
}
.team .card-body{
	padding-top: 0px;
}
.team .card-text{
	hyphens: auto;
}
.team hr{
	margin: 0rem;
	padding-bottom: 0.4rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

/*-------------------------------------
			competition	 
-------------------------------------*/

.competition{
	padding-top: 8rem !important;
	padding-bottom: 10rem;
	background-position: bottom !important;
	background-size: 200% !important;
	background-repeat: no-repeat !important;
}
.competition .title {
	font-size: 4rem !important;
	text-align: center !important;
	padding-bottom: 2rem;
}
.competiton .card-body{
	padding-bottom: 2rem;
	padding: 0;
}

.competition .card-text{
	hyphens: auto;
}